<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Recuperar Password</title>
  <link rel="stylesheet" href="css/login.css">
  <link rel="icon" type="image/png" href="img/run.png">
</head>
<body>
  <div class="login-box" style="height: auto;">
    <img src="img/run.png" width="150px">
    <form method="POST" action="/share_cod">
      <input type="email" placeholder="correo de usuario" required name="email">
      <button type="submit">Enviar codigo</button>
    </form>
    <button ><a href="/cod_verific">ir a ver siguiente pagina</a></button>
  </div>
  <%- include('layouts/footer') %>
</body>
</html>
