* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Fondo degradado animado */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #5e318c);
    animation: gradientBG 10s ease infinite;
    background-size: 400% 400%;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Contenedor del formulario */
.login-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0px 40px;
    width: 350px;
    height: 100vh;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
}
.logo{
    width: 150px;
}
.redes{
    display: flex;
    justify-content: center;
}
.redes-button {
    cursor: pointer;
    margin: 10px;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }

    from {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Imagen de perfil */
.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 20px;
}

/* Inputs */

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 250, 250, 0.375);
    color: white;
    font-size: 16px;
    outline: none;
    transition: background 0.3s;
}

.login-box input[type="email"]::placeholder,
.login-box input[type="password"]::placeholder {
    color: #e0e0e0;
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
    background: rgba(255, 255, 255, 0.3);
}

/* Botón */
.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #5f2c82;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s ease;
}
/* Botón */

.login-box button:hover {
    background-color: #4a2071;
}

/* styles.css */