* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Fondo degradado animado */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    background-size: 400% 400%;
    display: grid;
    grid-template-areas:
        "nav header"
        "nav main"
        "nav footer";
    grid-template-columns: 250px 1fr;
    /* Nav ocupa 250px, el resto es main */
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

/* 🧩 Posicionamos cada zona */
header {
    grid-area: header;

    color: white;
    padding: 1rem;
}

/* nav {
    grid-area: nav;
    color: white;
    padding: 1rem;
} */

main {
    grid-area: main;
    padding: 2rem;
}

footer {
    grid-area: footer;

    color: white;
    text-align: center;
    padding: 1rem;
}

/* 🧮 Cards internas con Grid también */
.grid-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Contenedor del formulario */
.login-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    width: 200px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease forwards;
    opacity: 0;
    grid-area: nav;
    color: white;
}

h2 {
    color: rgb(219, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }

    from {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Imagen de perfil */
.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 20px;
}

/* Inputs */
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    outline: none;
    transition: background 0.3s;
}
.toggle-eye{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #667eea;
}

.login-box input[type="text"]::placeholder,
.login-box input[type="password"]::placeholder {
    color: #e0e0e0;
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
    background: rgba(255, 255, 255, 0.3);
}

/* Botón */
.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background 0.3s ease;
}

.login-box button:hover {
    background-color: #667eea;
}